**/node_modules
**/dist
**/.angular
**/.astro
**/.cache
**/.data
**/.next
**/.nitro
**/.nuxt
**/.output
**/.svelte-kit
**/.nx
**/.pnpm-store
**/out
**/out-tsc
coverages
reports
testing/downloads
testing/screenshots
testing/videos

*.log
*.local
!.env.local.example

.DS_Store
.idea
.vscode
.history
.claude
.git
