.angular/
.cache/
.data/
.next/
.nitro/
.nuxt/
.nx/
.output/
.svelte-kit/
.pnpm-store/
apps/remix/build/
out/
out-tsc/
coverages/
dist
node_modules/
reports/
testing/downloads/
testing/screenshots/
testing/videos/

*.log
*.local

.DS_Store
.idea
.vscode
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
