.angular/
.cache/
.data/
.next/
.nitro/
.nuxt/
.nx/
.output/
.svelte-kit/
.pnpm-store/
coverage/
dist/
node_modules/
reports/
packages/**/CHANGELOG.md
packages/**/README.md
pnpm-lock.yaml
pnpm-workspace.yaml
