{
	"singleQuote": true,
	"printWidth": 160,
	"arrowParens": "always",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"semi": true,
	"quoteProps": "as-needed",
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": false,
	"vueIndentScriptAndStyle": false
}
