<div data-widget="input" [attr.data-form-id]="formId()" [attr.data-widget-id]="config().id">
	@if (config().label) {
	<label [for]="config().id" class="label">{{ config().label }}</label>
	}
	<input
		[id]="config().id"
		[name]="config().id"
		[autocomplete]="autocomplete()"
		[attr.inputmode]="config().inputmode"
		[readOnly]="disabled()"
		[required]="!!config().validator?.required"
		[attr.minlength]="config().validator?.minLength"
		[attr.maxlength]="config().validator?.maxLength"
		[attr.pattern]="config().validator?.regex"
		[value]="value()"
		type="text"
		size="1"
		(change)="onChange($event)"
		(keydown.enter)="onKeyDown($event)"
	/>
	@if (errorMessage()) {
	<small class="error">{{ errorMessage() }}</small>
	}
</div>
