<div data-widget="phone" [attr.data-form-id]="formId()" [attr.data-widget-id]="config().id">
	@if (config().label) {
	<label [for]="config().id" class="label">{{ config().label }}</label>
	}
	<input
		[id]="config().id"
		[name]="config().id"
		[type]="config().type"
		autocomplete="tel"
		inputmode="tel"
		[readOnly]="disabled()"
		[required]="!!config().validator?.required"
		[value]="value()"
		size="1"
		(change)="onChange($event)"
		(keydown.enter)="onKeyDown($event)"
	/>
	@if (errorMessage()) {
	<small class="error">{{ errorMessage() }}</small>
	}
</div>
