@if (config().render?.type === 'button') {
<button
	type="submit"
	[disabled]="disabled()"
	[style.backgroundColor]="config().render?.bgColor ?? (config().render?.hint?.variant === 'primary' ? '#5d21ab' : '#ffffff')"
	[style.color]="config().render?.textColor ?? (config().render?.hint?.variant === 'primary' ? '#ffffff' : '#5d21ab')"
	data-widget="submit"
	data-type="button"
	[attr.data-form-id]="formId()"
	[attr.data-widget-id]="config().id"
	(click)="onSubmit($event)"
	(keydown.enter)="onSubmit($event)"
	(keydown.space)="onSubmit($event)"
>
	{{ config().label }}
</button>
} @else {
<a
	data-widget="submit"
	data-type="link"
	[attr.data-form-id]="formId()"
	[attr.data-widget-id]="config().id"
	tabindex="0"
	(click)="onSubmit($event)"
	(keydown.enter)="onSubmit($event)"
	(keydown.space)="onSubmit($event)"
>
	{{ config().label }}
</a>
}
