<div data-widget="date" [attr.data-form-id]="formId()" [attr.data-widget-id]="config().id">
	@if (config().label) {
	<label [for]="config().id" class="label">{{ config().label }}</label>
	} @if (config().render?.type === 'fieldSet') {
	<div class="fieldset" [style.gridTemplateColumns]="fieldLengths.year + 'fr ' + fieldLengths.month + 'fr ' + fieldLengths.day + 'fr'">
		@for (field of format; track field) {
		<input
			[name]="field"
			[readOnly]="disabled()"
			[required]="!!config().validator?.required"
			[value]="fieldValues()[field]"
			[placeholder]="placeholders[field]"
			type="text"
			size="1"
			(change)="onFieldsetChange($event)"
			(keydown.enter)="onKeyDown($event)"
		/>
		}
	</div>
	} @else {
	<input
		[id]="config().id"
		[name]="config().id"
		[readOnly]="disabled()"
		[required]="!!config().validator?.required"
		[value]="value()"
		type="date"
		size="1"
		(change)="onChange($event)"
		(keydown.enter)="onKeyDown($event)"
	/>
	} @if (errorMessage()) {
	<small class="error">{{ errorMessage() }}</small>
	}
</div>
