// stylelint-disable selector-pseudo-element-no-unknown

[data-widget='static'] {
	text-align: center;

	::ng-deep p {
		margin: 0;
	}

	&[data-widget-id='section-title'] {
		font-size: 1.5rem;
		font-weight: 600;
	}

	&:not(:has(+ [data-widget='submit'])) {
		margin-block-end: 0.5rem;
	}
}
