@if (mode === 'redirect' || mode === 'popup') {
<section>
	<p>Loading...</p>
</section>
} @else if (mode === 'embedded') {
<section>
	<sty-notifications></sty-notifications>
	<sty-login
		[sessionId]="sessionId"
		[shortAppId]="shortAppId"
		[lang]="language"
		[params]="params"
		(login)="onEmbeddedLogin()"
		(close)="onEmbeddedClose()"
		(error)="onEmbeddedError($event)"
	></sty-login>
	<sty-language-selector></sty-language-selector>
</section>
} @else if (mode === 'native') {
<section>
	<app-native-login-renderer />
</section>
}
