<header>
	<div>
		@if (isAuthenticated) {
			<strong>Welcome, {{ name }}!</strong>
		} @else if (loading) {
			<strong>Loading...</strong>
		}
	</div>
	<div>
		<a routerLink="/" routerLinkActive="active" data-button="home">Home</a>
		@if (isAuthenticated) {
			<a routerLink="/profile" routerLinkActive="active" data-button="profile">Profile</a>
			<a routerLink="/revoke" routerLinkActive="active" data-button="revoke">Revoke</a>
			<a routerLink="/logout" routerLinkActive="active" data-button="logout">Logout</a>
		} @else {
			<a routerLink="/login" routerLinkActive="active" data-button="login">Login</a>
			<a routerLink="/register" routerLinkActive="active" data-button="register">Register</a>
		}
	</div>
</header>
<router-outlet />
