// stylelint-disable selector-class-pattern

.container {
	max-width: 400px;
	margin: 2rem auto;
	padding: 2rem;
}

.form {
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: 2rem;
	text-align: center;
	color: #333333;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	margin-block-start: 1rem;

	.label {
		margin-block-end: 0.25rem;
		font-weight: 500;
		color: #333333;
	}

	.input {
		position: relative;
		display: flex;
		align-items: center;
		height: 2.5rem;
		padding-inline: 0.5rem;
		font-size: 1rem;
		background: hsl(0deg 0% 100%);
		border-width: 1px;
		border-style: solid;
		border-color: hsl(0deg 0% 90%);
		border-radius: 4px;
		box-shadow: rgb(0 0 0 / 5%) 0 1px 2px 0;
		transition:
			color 150ms ease-in-out,
			background 150ms ease-in-out,
			border-color 150ms ease-in-out;

		&:focus {
			outline: none;
			border-color: #5d21ab;
		}

		&:read-only {
			color: hsl(0deg 0% 50%);
			border-color: hsl(0deg 0% 90%);
			cursor: not-allowed;
		}
	}

	.error {
		margin-block-start: 0.25rem;
		color: #e40c0c;
		font-size: 0.875rem;
	}
}

.button {
	cursor: pointer;
	outline-color: #5d21ab;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-block: 1rem;
	min-height: 2.25rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	box-shadow: rgb(0 0 0 / 5%) 0 1px 2px 0;
	border: 1px solid rgb(0 0 0 / 15%);
	border-radius: 4px;
	position: relative;
	background-color: #5d21ab;
	color: white;
	transition: background-color 150ms ease-in-out;

	&:hover:not(:disabled) {
		background-color: oklch(from #5d21ab l calc(l * 0.85) c h);
	}

	&:disabled {
		cursor: not-allowed;
		background-color: #f5f5f5 !important;
		color: #bdbdbd !important;
		border-color: #e0e0e0;
		box-shadow: none;
	}
}
