[data-widget='webauthn'] {
	display: block;

	button,
	a {
		display: block;
		width: 100%;
		cursor: pointer;
		outline-color: #5d21ab;
	}

	&[data-type='button'] {
		button {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin-block: 1rem;
			min-height: 2.25rem;
			padding: 0.5rem 1rem;
			font-size: 1rem;
			box-shadow: rgb(0 0 0 / 5%) 0 1px 2px 0;
			border: 1px solid rgb(0 0 0 / 15%);
			border-radius: 4px;
			position: relative;

			&:disabled {
				cursor: not-allowed;
				background-color: #f5f5f5 !important;
				color: #bdbdbd !important;
				border-color: #e0e0e0;
				box-shadow: none;
			}
		}
	}

	+ [data-widget='webauthn'] {
		button,
		a {
			margin-top: 1rem;
		}
	}
}
