[data-widget='layout'] {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-block-end: 1rem;

	&[data-type='horizontal'] {
		flex-direction: row;
		align-items: center;
		justify-content: center;

		* + * {
			margin-inline-start: 0.25rem;
		}
	}

	&[data-type='vertical'] {
		flex-direction: column;
		justify-content: center;
	}
}
