name: Publish

on:
  push:
    branches:
    - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # needed for provenance data generation
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install
        uses: ./.github/actions/setup

      - name: Build
        run: pnpm build --configuration=production

      - name: Configure
        run: |
          git config --global user.email "opensource@strivacity.com"
          git config --global user.name "strivacity"
          npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish
        run: pnpm nx release publish --access=public
